body {
  background: #f1f1f1;
}
.right {
  justify-content: right;
}
.center {
  justify-content: center;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  background: teal;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background: white;
}
